<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
   </assemblies>
    </compilation>
  
    <httpRuntime targetFramework="4.5" executionTimeout="2400" maxRequestLength="1048576" />
    <pages maintainScrollPositionOnPostBack="true"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
	  
	  <sessionState timeout="200" mode="InProc" />
	  <authentication mode="Forms">
		  <forms defaultUrl="~/Default.aspx" />

	  </authentication>
	  <authorization>

		  <allow users="*"/>

	  </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
	 
  </system.web>

  <connectionStrings>
    <add name="conStr" connectionString="Data Source=IN2242842W2;Initial Catalog=UPEIDA;Integrated Security=True" />
  </connectionStrings>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

	</appSettings>

	<system.webServer>

      <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
         <system.serviceModel>
        
             <bindings>
                 <basicHttpBinding>
                     <binding name="upswp_niveshmitraservicesSoap" />
                     <binding name="Dist_updation_after_land_allotmt_By_DptSoap" />
                 </basicHttpBinding>
                 <customBinding>
                     <binding name="upswp_niveshmitraservicesSoap12">
                         <textMessageEncoding messageVersion="Soap12" />
                         <httpTransport />
                     </binding>
                     <binding name="Dist_updation_after_land_allotmt_By_DptSoap12">
                         <textMessageEncoding messageVersion="Soap12" />
                         <httpTransport />
                     </binding>
                 </customBinding>
             </bindings>
             <client>
                 <endpoint address="http://niveshmitra.up.nic.in/Dist_updation_after_land_allotmt_By_Dpt.asmx" binding="basicHttpBinding" bindingConfiguration="Dist_updation_after_land_allotmt_By_DptSoap" contract="NMSWP_DistrictUpdate.Dist_updation_after_land_allotmt_By_DptSoap" name="Dist_updation_after_land_allotmt_By_DptSoap" />
                 <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="ServiceReference1.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
               
             </client>
         </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-20.1.0.0" newVersion="20.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" /></configuration>